/* start gloabal rules */
:root {
  --yellow-color: #ffc60c;
  --yellow-hover-color: #f5b700;
  /* --dark-color: #516d78; */
  --dark-color: #3a4d54;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-btn {
  background-color: var(--yellow-color);
  color: white;
}
.main-btn:hover {
  background-color: #f5b700;
}
.main-btn:focus {
  outline: none;
  box-shadow: 0 0 0 0;
}
form .mb-3 input:focus {
  outline: none;
  box-shadow: 0 0 0 0;
}
/* end gloabal rules */

/* start fonts */
.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 300 to 900 */
.merienda-font {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 400 to 700 */
.caveat-font {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 300 to 800 */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* end fonts */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* start navbar */

.navbar {
  background-color: var(--dark-color);
}
.navbar a {
  color: white;
  transition: all 0.3s;
}
.navbar a:hover {
  color: var(--yellow-hover-color);
}
.navbar .container > a {
  font-size: 40px;
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar button[aria-expanded="true"] {
  border-color: var(--yellow-hover-color);
}

.navbar .collapse:first-of-type .navbar-nav .nav-link.active,
.navbar .collapse:first-of-type .navbar-nav .nav-link:hover,
.navbar .collapse:first-of-type .navbar-nav .nav-link:focus {
  color: var(--yellow-color);
}
.navbar .collapse:last-child .navbar-nav .nav-item a:hover {
  color: var(--yellow-hover-color);
}

/* end navbar */
/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* start landig  */
.landing {
  background-size: cover;
  background-image: url(../images/main3.jpg);
  background-repeat: no-repeat;
  min-height: calc(100vh - 86px);
  position: relative;
}

.landing .all {
  position: absolute;
  left: 40%;
  top: 25%;
  transform: translateX(-50%);
  max-width: 50%;
}
.landing .all h2 {
  color: #ffc60c;
}

/* end landig  */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* start menu */
.menu ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.menu ul li.active {
  /* padding: 0.5rem 1rem; */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--yellow-color);
}
.menu ul li:not(.active):hover {
  color: var(--yellow-hover-color);
}
.menu .row .box {
  overflow: hidden;
  transition: all 0.3s;
}
.menu .row .box::before {
  content: attr(order);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffc60c85;

  display: flex;
  justify-content: center;
  align-items: center;

  /* transform: translatex(-216px); */
  transform: translatex(-100%);
  transition: transform 0.3s;
}
.menu .row .box:hover::before {
  transform: translatex(0);
}
.menu .row .box img {
  max-width: 100%;
}
/* end menu */

/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* start top three */
.carousel-item img {
  height: 80vh;
}
.carousel-item:nth-child(4) {
  background-color: var(--yellow-hover-color);
}
/* start top three */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* start book table  */
.book-table .container .row .left form > div {
  margin-bottom: 40px;
}
.book-table .container .row .left form > div input:focus {
  outline: none;
  box-shadow: 0 0 0 0;
  border-color: var(--yellow-hover-color);
}
.book-table .container .row .left form > div input::placeholder {
  transition: opacity 0.4s;
}
.book-table .container .row .left form > div input:focus::placeholder {
  opacity: 0;
}
.book-table .container .row .left form > div select:focus {
  outline: none;
  box-shadow: 0 0 0 0;
  border-color: var(--yellow-hover-color);
}
.book-table .right iframe {
  max-width: 100%;
}
/* end book table  */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* start footer */
footer {
  background-color: var(--dark-color);
  color: white;
}
footer h2 {
  color: var(--yellow-color);
}
footer .row div:first-of-type .all-info > div:last-of-type span {
  cursor: pointer;
}
/* end footer */
